In [39]:
# Packeges 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy as sp

In [40]:
# Constans
#stałe dla wielkości wykresów
FIGSIZE = (12,8)

TITLE_SIZE = 22
TITLE_COLOR = 'black'

LABEL_FONT_SIZE = 20
LABEL_FONT_COLOR = 'black'

LEGEND_SIZE = 14
LEGEND_LOCATION = 'upper right'

TICKS_FONT_SIZE = 16
TICKS_FONT_COLOR = 'dimgray'
TICKS_FONT_TILT = 45

ON_CHART_SIZE = 16
ON_CHART_COLOR = 'white'

OVER_BAR_SIZE = 16
OVER_BAR_COLOR = 'black'

ANNOTATIONS_FONT_SIZE = 16
ANNOTATIONS_FONT_COLOR = 'dimgray'

GRID_LINESTYLE = '--'
GRID_LINEWIDTH = 0.7
GRID_COLOR = 'lightgray'

LINEWIDTH = 3

TABLE_FONT = 14
TABLE_ROWS = 1.2
TABLE_COLS = 1.8

In [47]:
# Downloading the data

accident = pd.read_excel("Accident.xlsx", sheet_name = 'TABLICA')
area = pd.read_excel("Area.xlsx", sheet_name = 'TABLICA')
crimes = pd.read_excel("Crimes.xlsx", sheet_name = 'TABLICA')
divorces = pd.read_excel("Divorces.xlsx", sheet_name = 'TABLICA')
doctors = pd.read_excel("Doctors.xlsx", sheet_name = 'TABLICA')
greens = pd.read_excel("Greens.xlsx", sheet_name = 'TABLICA')
highschools = pd.read_excel("Highschools.xlsx", sheet_name = 'TABLICA')
marrige = pd.read_excel("Marrige.xlsx", sheet_name = 'TABLICA')
salary = pd.read_excel("Salary.xlsx", sheet_name = 'TABLICA')
suicide = pd.read_excel("Suicide.xlsx", sheet_name = 'TABLICA')
unemployment = pd.read_excel("Unemployment.xlsx", sheet_name = 'TABLICA')

# Analiza poziomu życia w wojewódzctwie Świętokrzyskim przed i po pandemii

## Wstepna analiza danych 

W badaniu pod uwagę brane jest 11 zmiennych diagnostycznych, podzielonych na siedem obszarów poziomu życia:

* Warunki materialne
* Aktywność ekonomiczna i warunki pracy
* Służba zdrowia
* Edukacja
* Czas wolny i relacje społeczne
* Bezpieczeństwo 
* Jakość środowiska

Wszytskie z tych obszarów zostały uznane za znaczące w związku z poziomem życia w danym powiecie. Poniżej zaprezentowane zostaną statystyki opisowe oraz wykresy gęstości badanych zmiennych.

### Warunki materialne
W skład tej kategorii wchodzą dwie zmienne diagnostyczne: *przeciętne miesięczne wynagrodzenie brutto w zł* oraz *przecietna powierzchnia użytkowa mieszkania na 1 osobę w m^2*. Obydwie zmienne zostały zakwalifikowane jako stymulanty, ponieważ wraz z ich wyższymi odczytami, poziom życia rośnie.

In [42]:
def decripctions_table(salary):
    data1 = {
        "Średnia" : [salary['2019'].mean(), salary['2023'].mean()],
        "Odch. stan." : [np.std(salary['2019'], ddof = 1), np.std(salary['2023'], ddof = 1) ],
        "Min": [salary['2019'].min(), salary['2023'].min()],
        "Max": [salary['2019'].max(), salary['2023'].max()],
        "Skośność": [sp.stats.skew(salary['2019']), sp.stats.skew(salary['2023'])],
        "Kurtoza": [sp.stats.kurtosis(salary['2019']), sp.stats.kurtosis(salary['2023'])]

    }
    tabela = pd.DataFrame(data = data1, index=['2019', '2020'])
    return tabela

**Wynagrodzenia**

In [43]:
salary_deb = decripctions_table(salary)
salary_deb

          Średnia  Odch. stan.      Min      Max  Skośność   Kurtoza
2019  4323.475000   312.930823  3794.18  4879.19  0.105872 -0.902181
2020  6409.193571   399.386104  5804.43  7062.45 -0.069993 -1.175054

**Powierzchnia mieszkaniowa**

In [44]:
area_deb = decripctions_table(area)
area_deb

        Średnia  Odch. stan.   Min   Max  Skośność   Kurtoza
2019  28.135714     1.849993  25.5  30.8  0.184671 -1.281034
2020  31.300000     1.699774  28.6  34.0  0.182279 -1.032735

### Aktywność ekonomiczna i warunki pracy
Do tego obszaru również zaliczono dwie zmienne diagnostyczne: *stopa bezrobocia rejestrowanego w %* oraz *poszkodowanie w wypadkach przy pracy na 1000 pracujących ogółem*. Obydwie zmienne zakfalifikowano jako destymulanty, czyli wraz ze spadkiem danej cechy, spada poziom życia w danym powiecie.

**Stopa bezrobocia**

In [45]:
un_deb = decripctions_table(unemployment)
un_deb

       Średnia  Odch. stan.  Min   Max  Skośność   Kurtoza
2019  8.392857     3.195541  3.7  14.6  0.599801 -0.618193
2020  8.685714     3.275987  4.3  15.2  0.712243 -0.302866

**Wypadki w pracy**

In [51]:

accident

        Kod                 Nazwa  2019  2020  2021  2023
0   2601000          Powiat buski  4.32  4.13  4.42  3.37
1   2602000   Powiat jędrzejowski  5.71  5.33  4.57  2.94
2   2603000    Powiat kazimierski  1.50  2.54  1.47  1.73
3   2604000       Powiat kielecki  4.23  3.73  4.04  3.93
4   2605000        Powiat konecki  7.18  5.59  4.30  4.09
5   2606000      Powiat opatowski  3.05  2.49  2.92  1.81
6   2607000    Powiat ostrowiecki  5.75  3.92  4.70  4.38
7   2608000     Powiat pińczowski  4.11  5.45  5.13  3.20
8   2609000   Powiat sandomierski  5.75  4.03  5.12  3.21
9   2610000      Powiat skarżyski  7.95  5.68  4.48  5.86
10  2611000  Powiat starachowicki  8.67  5.73  7.34  6.25
11  2612000     Powiat staszowski  4.64  3.92  4.39  3.77
12  2613000   Powiat włoszczowski  3.05  1.92  1.91  2.45
13  2661000      Powiat m. Kielce  8.31  5.92  7.25  6.57